<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel ="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
      <nav>
          <div class="nav-wrapper amber brown">
               <a href="index.html" class="brand-logo"><div class="call"><span style="margin-left: 15px">Accueil</span></div></a>
              <ul class="right hide-on-med-and-down">
                  <li><a href="#" onclick="switchToFr()"><img src="../Resources/fr.jpg" class="flag"></a></li>
                  <li><a href="#" onclick="switchToEn()"><img src="../Resources/en.jpg" class="flag"></a></li>
                  <li><a href="#" class="btn-floating green pulse"><i class="material-icons">person</i></a></li>
              </ul>
          </div>
      </nav>

    </header>
    <h1 id="Titre_connexion"> FAQ </h1>
    <div class="container">
    <div class="container">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><span class="badge"></span>Logement</div>
          <div class="collapsible-body"><p>Je suis à la rue. <br>
Des logements d’urgence sont disponibles pour les personnes en détresse ou sans abri pour une période provisoire. Divers organismes et associations mettent en place des solutions notamment le Secours Populaire ou le 115 (Samu social):
<a href="https://www.cidj.com/vie-quotidienne/trouver-un-logement/l-hebergement-d-urgence" target="_blank">A qui s’adresser en en cas de besoin de logement d’urgence</a>. <br><br>


Je recherche un logement. <br>
Si vous êtes boursier, le CROUS peut vous trouver un logement dans une résidence étudiante. Il vous faut pour cela créer un dossier spécial étudiant :
<a href="https://idp.messervices.etudiant.gouv.fr/idp/profile/SAML2/Redirect/SSO?execution=e1s1" target="_blank">Demande de dossier social étudiant</a>.
Sur le bon coin, vous pouvez également trouver des offres à bas prix. Lien vers : <a href="https://www.leboncoin.fr/" target="_blank">Le Bon Coin</a>.
Faites malgré tout attention à certaines annonces et certains sites qui peuvent être frauduleux. <br><br>

Je souhaite changer de logement. <br>
Envoyez une lettre au propriétaire/agence dont vous dépendez afin de prévenir les personnes concernées des raisons de votre départ. Vous pouvez ensuite faire les démarches auprès d’une autre agence/particulier afin de trouver un autre logement. Vous avez autant de temps que vous le permet votre préavis. <br><br>

Je souhaite bénéficier des APL. <br>
Vous pouvez simuler votre éligibilité aux APL sur le site de la CAF. Demandez d’abord à votre propriétaire si votre logement est conventionnel. Faites ensuite les démarches directement auprès de la CAF :
<a href="https://caf.fr" target="_blank">Lien vers le site de la CAF</a>. <br><br>

Je cherche à assurer mon logement.<br>
Il existe de nombreuses compagnies d’assurance qui possèdent de différentes options destinées à différents publics. Appelez les et choisissez celle qui vous convient :
<a href="https://www.lecomparateurassurance.com/86934-devis-habitation/86521-habitation " target="_blank">Comparateur d’assurances</a>.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><span class="badge"></span>Budget</div>
          <div class="collapsible-body"><p>Je cherche à me nourrir à moindre frais. <br>
Consultez les horaires des marchés ayant lieu dans votre ville, ce sont la plupart du temps des endroits où vous pourrez trouver une alimentation saine et locale à moindre frais. <br>
Il existe aussi des associations qui délivrent des paniers de légumes hebdomadaires. <br>
<a href="https://www.mon-panier-bio.com/distributeur/local/ou-trouver-panier-bio-france/" target="_blank">Où trouver mon paniers bio ?</a> <br>
Si vous n’avez pas envie de cuisiner et que vous voulez manger un repas équilibré et chaud, vous pouvez aussi aller manger au restaurant universitaire pour la modique somme de 3,30€. <br>
<a href="http://www.crous-grenoble.fr/restauration/manger-au-crous/" target="_blank">La Restauration du Crous</a> <br><br>

Je cherche à me déplacer à moindre frais.<br>
Il peut être utile de posséder une carte de transports si vous utilisez souvent les transports en communs. De plus, dans certaines régions les abonnements peuvent être partiellement remboursés. Si néanmoins cet abonnement est trop cher, pensez au vélo libre service ou en location. De plus en plus de villes aménagent leurs routes pour y inclure les deux-roues.
Les cartes avantages de la SNCF (trains) sont très intéressantes si vous comptez prendre le train plusieurs fois dans l’année (-30% sur les billets de train). De plus, pour des trajets courtes et longues distance à moindre coût, il existe des plateformes telles que blablacar ou Ouibus et Flixbus :
<a href="https://www.oui.sncf/train/carte-abonnement-train" target="_blank">Cartes abonnement de la SNCF</a>. <br><br>

Je cherche à me vêtir à moindre frais. <br>
Renseignez-vous sur les vides-greniers ou brocantes qui ont lieu dans votre ville. <br>
Si vous aimez les friperies, c’est l’endroit parfait pour dénicher vos vêtements à moindre frais. Il y en a sûrement dans votre ville. <br>
A Emmaüs, il est possible de bénéficier de 20% de réduction sur présentation de votre carte étudiante : <a href=" https://emmaus-france.org/" target="_blank">Site d’Emmaüs</a>. <br>

A la Croix Rouge, les vestiboutiques sont un lieu d’accueil et d’écoute pour les personnes en difficulté et offrent la possibilité de se vêtir à petit prix ou gratuitement :
<a href="https://www.croix-rouge.fr/La-Croix-Rouge/Innovation-Sociale/Projets/Developpement-Durable/Une-vestiboutique-modele-2268 " target="_blank">Vestiboutique</a>. <br><br>

Je cherche à avoir une vie culturelle à moindre frais. <br>
Renseignez vous sur le site de votre mairie. Il existe de nombreux programmes culturels à destination des étudiants, qui vous permettront de bénéficier d’un accès à la culture à moindre frais. En souscrivant à une newsletter sur le site de votre université, vous pourrez également être au courant d’opportunités locales comme des événements musicaux, ou sportifs. Soyez rapide, les premiers ont souvent droit à des réductions. <br><br>

Je cherche à avoir une activité sportive à moindre frais.<br>
Chaque université propose des activités en son sein, la plupart du temps à frais réduits. Il faut s’y inscrire assez tôt.<br>
Vous pouvez aussi regarder les parcs/pistes de course qu’il existe autour de chez vous afin de pouvoir vous dépenser gratuitement.<br>
</p></div>
        </li>
        <li>
          <div class="collapsible-header"><span class="badge"></span>Santé</div>
          <div class="collapsible-body"><p>Je cherche à me soigner à moindre frais. <br>
Si vous avez des problèmes pour subvenir à vos frais de santé, il existe une Complémentaire Santé sous conditions:

<a href="https://www.ameli.fr/isere/assure/droits-demarches/difficultes-acces-droits-soins/complementaire-sante/aide-paiement-complementaire-sante " target="_blank"> Complémentaire santé</a>. <br> <br>
Certaines université proposent également un service de soins gratuits (médecin généraliste, psychologue, nutritionniste,...). <br><br>

Je souhaite souscrire à une mutuelle étudiante. <br>
Vous pouvez regarder vos droits sur le site Amelie.fr et voir les mutuelles qui vous sont proposées:
 <a href="https://www.ameli.fr/" target="_blank"> Ameli.fr</a>. <br><br>

Je me sens seul. <br>
Il existe des numéros d’aide pour les personnes seules. <br>
 - le 02 62 97 00 00 est un numéro disponible 24h/24 et 7j/7 <br>
 - les numéros SOS Solitude et SOS Ecoute sont disponibles via leurs sites:
<a href="https://sossolitude.fr/" target="_blank">SOS Solitude</a>,
<a href="https://sos-ecoute.fr/" target="_blank"> SOS Ecoute</a>.<br>
 - SOS Amitié possède également un service téléphonique, un service de messagerie et un service de chat:
<a href="https://www.sos-amitie.com/web/internet/accueil" target="_blank"> SOS Amitié</a>. <br><br>

J’ai des questions concernant ma vie sexuelle. J'attends un enfant. <br>
Si vous avez des questions par rapport à votre aptitude à accueillir votre enfant, ou comment concilier votre vie étudiante et votre vie familiale, vous pouvez contacter ce numéro : 0800 235 236.
Il est gratuit et anonyme, de 9h à 23h tous les jours. Un adulte pourra ainsi vous aider et vous informer sur ce sujet. <br><br>
Pour toutes questions relatives à la santé sexuelle (avortement, dépistage, contraception, violences,…), vous pouvez également contacter le planning familial :  0 800 08 11 11 ( n° vert anonyme et gratuit):
<a href="https://www.planning-familial.org/fr" target="_blank">Lien vers le site du planning familial</a>. <br>
</p></div>
        </li>
        <li>
          <div class="collapsible-header"><span class="badge"></span>Juridique</div>
          <div class="collapsible-body"><p>
Je subis du harcèlement.<br>
Vous pouvez appeler le numéro 0800 200 000 ou le 3020 qui sont des numéros anonymes et gratuits, disponibles tous les jours de 9h à 19h. Ces numéros permettent de vous mettre en contact avec des professionnels à l’écoute de votre situation:
<a href=""https://etudiant.lefigaro.fr/les-news/actu/detail/article/les-multiples-formes-du-harcelement-en-fac-et-dans-les-grandes-ecoles-3524/ target="_blank">site harcèlement à l'école</a>.<br><br>

Mes parents ne subviennent pas à mes besoins.<br>
D’après L’article 371-2 du Code civil : « Chacun des parents contribue à l’entretien et à l’éducation des enfants à proportion de ses ressources, de celles de l’autre parent, ainsi que des besoins de l’enfant. Cette obligation ne cesse pas de plein droit lorsque l’enfant est majeur. ». Vos parents sont alors, selon la loi, dans l’obligation de subvenir à vos besoins en ce  qui concerne la nourriture et votre logement. Rapprochez vous du service d’assistance sociale présent sur votre campus, où vous pourrez recevoir des réponses à vos questions.<br><br>

Pour plus d’informations sur le droit des locataires, vous pouvez visiter le site de l’ADIL:
<a href="https://www.anil.org/lanil-et-les-adil/votre-adil/" target="_blank">Site de l’ADIL</a>. </p></div>
        </li>
        <li>
          <div class="collapsible-header"><span class="badge"></span>Intégration</div>
          <div class="collapsible-body"><p>Je viens d'emménager dans une nouvelle ville.<br>
Rapprochez vous des espaces de vie étudiante sur votre Campus, vous pourrez y rencontrer de nombreux étudiants et leur demander des conseils. <br><br>

Mon niveau en Français m'handicape. Je souhaite prendre des cours.<br>
Vous pouvez trouver des cours de français à moindre frais sur le site Le Bon Coin ou alors vous inscrire dans des cours organisé (à l’année dans votre université):
<a href="https://www.campusfrance.org/fr/apprendre-langue-francaise" target="_blank">Apprendre la langue française</a>.<br><br>
Vous pouvez aussi prendre contact avec d’autres personnes grâce à l’application HelloTalk. Elle vous permettra de rentrer en contact avec d’autres étudiants et pourquoi pas d’améliorer votre niveau en français. Cela vous permettra aussi de partager votre expérience avec un français afin que lui aussi puisse apprendre votre langue:
<a href="https://www.hellotalk.com/?lang=en" target="_blank">HelloTalk</a>. <br><br>

Je cherche à régulariser ma situation.<br>
Rapprochez vous des dispositifs mis en place dans votre académie pour venir en aide aux personnes en attente de régularisation. Ils vous aideront dans vos démarches:
<a href="http://csp93.unblog.fr/conseils/quels-conseils-pour-les-etudiants/" target="_blank">Conseils étudiants</a>.
</p></div>
        </li>
        <li>
          <div class="collapsible-header"><span class="badge"></span>Emploi</div>
          <div class="collapsible-body"><p>Je recherche un job étudiant.<br>
Assurez-vous que vous arriverez à concilier votre travail et vos études avant toute démarche pour trouver un travail.<br><br>
Avant d’accepter un travail, assurez-vous que l’argent gagné par votre travail ne vous désavantage pas par rapport à votre éligibilité pour la CAF et/ou la bourse.<br><br>
Si vous vous êtes assuré des informations précédentes, il existe de nombreux sites qui proposent des emplois pour les jeunes. Prenez vous-y tôt, et n’hésitez pas à demander à votre université directement. Elles proposent souvent des jobs étudiants au sein de la bibliothèque ou des restaurants universitaires:
<a href="https://www.studentjob.fr/job-etudiant" target="_blank"> studentjob</a>,
<a href="https://jobs-stages.letudiant.fr/jobs-etudiants.html " target="_blank">propositions de jobs sur l’Etudiant</a>.<br><br>

J'ai un job étudiant. Quels sont mes droits ?<br>

<a href="https://www.letudiant.fr/jobsstages/nos-conseils/job-et-etudes.html " target="_blank">Quels sont vos droits ?</a>
</p></div>
        </li>
      </ul>
    </div>
  </body>
</html>
