
  <!DOCTYPE html>
  <html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="style.css">
        <meta charset="UTF-8" title="titre">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <!-- <img src="../Resources/Image2.jpg" id="bgImg"> -->

        <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
        </ul>
        <nav id="menu">
            <div class="nav-wrapper amber brown">
                <a href="index.html" class="brand-logo"><div class="call"><span style="margin-left: 15px" id="home">Accueil</span></div></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" onclick="switchToFr()"><img src="../Resources/fr.jpg" class="flag"></a></li>
                    <li><a href="#" onclick="switchToEn()"><img src="../Resources/en.jpg" class="flag"></a></li>
                    <li><a href="connex.html" class="btn-floating green pulse"><i class="material-icons">person</i></a></li>
                </ul>
            </div>
        </nav>

        <h1 id="title">Guide du Jeune</h1>

        <div id="cards">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="../Resources/FAQ.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">FAQ</span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">FAQ<i class="material-icons right">close</i></span>
                          <p>Vous trouverez les réponses aux questions que vous vous posez le plus !<br><br><br></p>
                            <br>
                            <a class="waves-effect waves-light btn-large brown pulse">J'y vais!</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="../Resources/Simulation.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Simulation</span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Simulation<i class="material-icons right">close</i></span>
                          <p>Vous ne savez pas vers qui vous tourner ? A travers ces quelques questions vous aurez les coordonnées des organismes adaptés à votre situation.</p>
                            <br>
                            <a class="waves-effect waves-light btn-large brown pulse" onclick="loadQuest()">J'y vais!</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="../Resources/forum3.png">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Forum</span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Forum<i class="material-icons right">close</i></span>
                          <p>Un environnement adapté pour pouvoir échanger avec d'autres étudiants capable de vous aidez.<br><br><br></p>
                            <br>
                            <a class="waves-effect waves-red btn-large brown">Coming soon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="handle.js"></script>
        <script type="text/javascript" src="lang.js"></script>
        <script type="text/javascript">
            createQuest()
            let cards = document.getElementById("cards")
            let cards2 = document.getElementById("cards2")
            cards.style.left = (window.innerWidth - cards.offsetWidth) / 2 + "px"
            cards2.style.left = (window.innerWidth - cards2.offsetWidth) / 2 + "px"
        </script>
      </body>
</html>
