
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="style.css">
       <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper amber brown">
                <a href="#!" class="brand-logo"><div class="call">Accueil</div></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Page 1</a></li>
                    <li><a href="sass.html">Page 1</a></li>
                    <li><a href="sass.html">Page 1</a></li>
                    <li><a href="sass.html">Page 1</a></li>
                    <li><a href="#" class="btn-floating green pulse"><i class="material-icons">person</i></a></li>
                </ul>
            </div>
        </nav>
        

        <a class="waves-effect waves-light btn-large green" id="simulationButton">Simulation</a>
        

        


          <!--JavaScript at end of body for optimized loading-->
          <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
          <script type="text/javascript">
            M.AutoInit();
          </script>
      </body>
</html>