<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="style.css">
  <meta charset="UTF-8" title="titre">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel ="stylesheet" type="text/css" href="connexion.css">
</head>
<body>
  <nav id="menu">
    <div class="nav-wrapper amber brown">
      <a href="index.html" class="brand-logo"><div class="call"><span style="margin-left: 15px">Accueil</span></div></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" onclick="switchToFr()"><img src="../Resources/fr.jpg" class="flag"></a></li>
        <li><a href="#" onclick="switchToEn()"><img src="../Resources/en.jpg" class="flag"></a></li>
        <li><a href="#" class="btn-floating green pulse"><i class="material-icons">person</i></a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <header>
      <h1 id="Titre_connexion">Créer un compte</h1>
    </header>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="pseudo" type="text" class="validate">
            <label for="pseudo">Pseudo</label>
          </div>
          <div class="input-field col s6">
            <input id="cp" type="text" class="validate">
            <label for="cp">Code Postal</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Mot de passe</label>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <select class="browser-default">
        <option value="" disabled selected>Expertise (optionnel)</option>
        <option value="1">Besoin d'aide</option>
        <option value="2">Intermediaire</option>
        <option value="3">Prêt à aider</option>
      </select>
    </div>
    <a id="Bouton_confirmer" class="waves-effect waves-light btn green" onclick="inscrire()">Confirmer</a>
    <a id="Bouton_simulation" class="waves-effect waves-light btn green">Continuer vers la simulation</a>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="lang.js"></script>
    <script type="text/javascript" src="api.js"></script>
  </div>
</body>
</html>
