#simulationButton {
    position: fixed;
    top: 50%;
    left: 45%;
    width: 10%;
}

#simulationButton:hover {
    left: 43%;
    width: 14%;
}

#bgImg {
    position: fixed;
    z-index: -10;
    top:10%;
    left:5%;
    width: 90%;
    height: 90%;
}

#cards {
    display: flex;
    flex-direction: row;

    text-align: center;

    position: fixed;
    top: 35%;
}

.flag {
    width: 30px;
}

#title {
    text-align: center;
    color: brown;
    padding: 1%;
}

#home {
    transition: 0.4s;
}

#home:hover {
    color: lightgreen;
}

#menu {
    z-index: 10;
}

#Titre_connexion {
  text-align: center;
}

#Bouton_confirmer {
  text-align: center;
}

#password {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

#password2 {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

#first_name {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

#first_name2 {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

#last_name {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

#Bouton_confirmer2 {
  text-align: center;
}


#Bouton_simulation {
  text-align: center;
}


